<mat-toolbar class="flex-container flex-wrap" style="justify-content:center;">
  <mat-toolbar-row class="flex-container flex-wrap" style="height: auto;">
    <img src="/assets/images/usaid.png" style="height:50px;margin: 10px;">
    <img src="/assets/images/nasa.png" style="height:50px;margin: 10px;">
    <img src="/assets/images/adpc.png" style="height:50px;margin: 10px;">
    <span class="fill-remaining-space"></span>
    <img src="/assets/images/servir-mekong.png" style="height: 50px;margin: 10px;">
  </mat-toolbar-row>

  <mat-toolbar-row class="flex-container flex-wrap navbar">
    <button mat-button routerLink="/">Virtual Rain and Stream Gauge Data Service (VRSGS)</button>
    <span class="fill-remaining-space"></span>
    <a mat-button routerLink="/about">About</a>
    <a mat-button target="_blank" href="https://docs.google.com/document/d/e/2PACX-1vThAstF-m2Z8s_3dD-M4k0vZo_0tgM3I75MUONzPhgsAxh5mEsY00YBmzuVtyOSvsEmNF3tWpVo_afz/pub">How to Use?</a>
    <!--<button mat-button>FTP Server</button>-->
    <a mat-button target="_blank" href="ftp://downloader:Down0000@58.137.55.93">FTP Server</a>
    <button mat-button>Feedback</button>
  </mat-toolbar-row>

</mat-toolbar>
