vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|08 Apr 2016 03:51:58 -0000
vti_syncwith_www.adpc.net\:80/geo/map01/map02:TR|08 Apr 2016 03:51:58 -0000
vti_author:SR|DANATEDONPAF076\\danatedonparadorn
vti_modifiedby:SR|DANATEDONPAF076\\danatedonparadorn
vti_nexttolasttimemodified:TR|08 Apr 2016 03:51:58 -0000
vti_timecreated:TR|24 Aug 2016 06:50:49 -0000
vti_extenderversion:SR|6.0.2.8161
vti_syncwith_www.adpc.net\:80/servir-map/01:TR|08 Apr 2016 03:51:58 -0000
vti_cacheddtm:TX|24 Aug 2016 06:50:49 -0000
vti_filesize:IR|144228
vti_cachedlinkinfo:VX|S|../fonts/metro.eot S|../fonts/metro.eot S|../fonts/metro.woff S|../fonts/metro.ttf S|../fonts/metro.svg
vti_cachedsvcrellinks:VX|FSUS|fonts/metro.eot FSUS|fonts/metro.eot FSUS|fonts/metro.woff FSUS|fonts/metro.ttf FSUS|fonts/metro.svg
vti_backlinkinfo:VX|accordion.html templates/admin-sidebar-appbar.html Default_copy(3).html charms.html templates/template.html templates/start-screen.html templates/news-portal.html Default_copy(2).html Default_copy(1).html templates/login.html Default.html index.html
