@import '~bootstrap/dist/css/bootstrap.min.css';
p{
    margin: 0 0 0px;
    font-size: 14px;
    font-weight: 500;
}
.flex {
   flex: 1 1 auto;
   height: 80vh;
}
.scrollable {
    overflow: auto;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.download-container {
  margin-top: 20px;
  margin-bottom: 50px;
}
mat-form-field {
  margin-right: 12px;
  font-size: 14px;
  width: 400px;
  padding-bottom: 10px;
}
mat-label{
  font-size: 14px;
}
mat-radio-button{
  padding: 20px;
}
.mat-raised-button{
  padding: 10px;
}
.content-tab{
  padding-top: 20px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #F4F6F6;
  width:auto;
}
.button-row button{
  margin: 10px;
}
