<div class="flex-container flex-direction-column" style="height: 100%;">

  <app-header></app-header>
  <mat-drawer-container style="height: 100%;">
    <mat-drawer mode="side" opened style="height: auto;width: 27%;margin-left: 2px;padding: 3px;">
      <mat-tab-group class="flex-container navbar-tab-group">
        <mat-tab label="Virtual Rain Gauge">
            <ng-template matTabContent>
              <app-virtual-rain-gauge [map$]="map$"></app-virtual-rain-gauge>
            </ng-template>
        </mat-tab>
        <mat-tab label="Virtual Stream Gauge">
          <ng-template matTabContent>
            <app-virtual-stream-gauge></app-virtual-stream-gauge>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </mat-drawer>
    <mat-drawer-content>
      <app-map [map$]="map$" [mapView$]="mapView$"></app-map>
    </mat-drawer-content>
  </mat-drawer-container>

</div>
