<div id="draw-toolbar" class="draw-toolbar">
  <button class="action-button esri-icon-polygon" title="Draw polygon" (click)="clickPolygonDrawing($event)" ></button>
  <button class="action-button esri-icon-checkbox-unchecked" title="Draw rectangle" (click)="clickRectangleDrawing($event)"></button>
  <button class="action-button esri-icon-radio-unchecked" title="Draw circle" (click)="clickCircleDrawing($event)"></button>
  <button class="action-button esri-icon-trash" title="Clear graphics" (click)="clickResetButton($event)"></button>
</div>
